body{
    
    font-family: Calibri;
    padding: 10px 20px;
}

h1 {
	color: #FFFFFF;
	background-color: #ffbd33;
	padding: 10px;
	border-radius:0 20px;
}

.contenedorIngredientes{
	border: solid 5px #ffbd33;
	border-radius: 5px;
	padding: 15px;
	
}


