body{
    
    font-family: Calibri;
    padding: 10px 20px;
}

h1 {
	color: #FFFFFF;
	background-color: #ffbd33;
	padding: 10px;
	border-radius:0 20px;
}

h2{
	color: #FFFFFF;
	background-color: #3c3c3c;
	padding: 10px;
	border-radius:0 20px;
}


